---
import Layout from '../layouts/Layout.astro';
import UtilBar from '../components/UtilBar.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---
<Layout>
  <UtilBar />
  <Nav />
  <main>
    <Hero />
  </main>
</Layout>
